[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
exclude_lines =
    pragma: no cover
    return NotImplemented
    raise NotImplementedError
    \.\.\.
[xml]
output = coverage.xml
