*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*tmp_dir

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml
htmlcov
.mypy_cache
.pytest_cache

# Virtual env
venv

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Visual studio
*.suo
*.DotSettings.user
TestResults/

# Log files
*.log
Rx.pyperf
*.coverage
UpgradeLog.htm
TestResults/Rx.TE.Tests.mdf
TestResults/Rx.TE.Tests_log.ldf
*.user

# Cloud9
.c9

# PyCharm
.idea
.zedstate

# Spyder IDE
.spyproject/

.ipynb_checkpoints
.cache/
.vscode/
.noseids
_build

# Mac OS
.DS_Store

# Type checkers
.pyre

.ionide/
