[project]
name = Rx
project = RxPY
# Please make sure the version here remains the same as in rx/__init__.py
version = 4.0.0
description = Reactive Extensions (Rx) for Python
author = Dag Brattli
author_email = dag@brattli.net
copyright = 2013-2020, Dag Brattli, Microsoft Corp., and Contributors
license = MIT License
url = http://reactivex.io
download_url = https://github.com/ReactiveX/RxPY
